<div class="container">

 <ul id="hexGrid">
            <li class="hex">
                <a class="hexIn" href="#">
                    <img src="http://www.fearthewave.com/wp-content/uploads/2016/05/bevo-768x410.png" alt="" />
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    <img src="http://www.fearthewave.com/wp-content/uploads/2016/05/Screen-Shot-2016-05-20-at-9.01.47-AM-768x503.png" alt="" />
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    <img src="http://www.fearthewave.com/wp-content/uploads/2016/01/Screen-Shot-2016-01-30-at-12.07.20-PM-768x500.png" alt="" />
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    <img src="https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg" alt="" />
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#">
                    <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt="" />
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </a>
            </li>
        </ul>

     </div>
