<div class="container">

<ul id="hexGrid">
  <% @posts.each do |post| %>
  <li class="hex">
    <%= link_to stories_path(id: post.slug), class: "hexIn" do %>
       <%= image_tag("http://www.fearthewave.com/wp-content/uploads/2016/05/bevo-768x410.png", :alt => "rss feed") %>
       <h1><%= post.title %></h1>
      <p><%= post.category %></p>
      <% end %>
  </li>
  	<% end %>
</ul>

</div>
