<br>

		        <button class="btn btn-primary" id="whatever" type="submit"">Search</button>

<div class="container">
	<% @posts.each do |post| %>
	 		<div class="col-md-9">
		        <h2><%= post.title %></h2>
		        By <h7><%= post.author %></h7> at <h7><%= post.published_at %></h7>
		        <p id="paragraph"><%= simple_format post.payload %></p>
		    </div>
		      	
		    <div class="col-md-3">
		      	<p id="output">Right column 3</p>
		    </div>
		<% end %>
</div>




<script type="text/javascript">

$(document).ready(function(){
	$( "#whatever" ).click(function() {
  		var first = document.getElementsByTagName("P");
		var testStr = first.innerHTML; 

		if(testStr.contains("Fritz")){
    		$( "#output" ).replaceWith("<b>Found da string</b>");
			} else{
				alert("String not found");
			}
		});
	});
</script>


