<br>

<div class="col-md-9">
	<div class="container">

		<h1>Home</h1>
		<p>Here's the first page of the site.</p>

		Sign up <%= link_to "here", "#" %>. 


		<h2>Example Blog Post</h2>

		<p>This is long text. I want to see how far this goes and if it will support the comment system that I am building. And I am still going, even further I guess. Here we go.</p>

	</div>

</div><!-- end container -->

<div class="col-md-3">
	<p>Example</p>
</div>


