<div class="container">
	<div id="about" style="font-family: 'Open Sans";>
		<h1>About FTW</h1>
		<p>This is just a placeholder for now, but this is a new website I am working on. It's under construction, but I wanted to build something that a) loaded faster on mobile, since over half of you read our content there, and b) allowed us to do a lot of other cool stuff. Will keep you updated for when it actually launches.</p>
	</div>

	<form>
    <input name="title" type="text" placeholder="Title?" />
    <textarea name="content" data-provide="markdown" data-iconlibrary="fa" rows="10"></textarea>
    <label class="checkbox">
      <input name="publish" type="checkbox"> Publish
    </label>
    <hr/>
    <button type="submit" class="btn">Submit</button>
  </form> 


</div>