<div class="container">
	<div id="about" style="font-family: 'Open Sans";>
		<div class="jumbotron">
			<h1 style="text-align: center;">About Fear The Wave Blog</h1>
			<i class="fa fa-arrow-down fa-3x" aria-hidden="true" style="margin-left: 50%;"></i>
				<p>FTW was founded in 2011 with one purpose: to be the best Tulane blog on the web for fans of the Green Wave. Since that time, we have covered games, recruiting news, conference media days, and more to provide the best look we can for Tulane fans.</p>
				<p>Additionally, in 2016, we launched FTWCast, the first effort to do a (weekly) show for Tulane fans discussing upcoming opponents.</p>
				<p>Over this time, we have seen ebbs and flows, but we are fundamentally huge Green Wave fans and look forward to continuing to see our program progress.</p>
				<p>If you are interested in getting in touch with us to write or for any other reason, please shoot us a message on Twitter or Facebook, and we'll check it out.</p>
				<p>And as always, <b>Roll Wave</b></p>
		</div>
	</div>

</div>