<div class="ftwhead">
	<p id="ftwheadtext">Premium:</p>
</div>
<div class="tempbox">

</div>

<br>

<div class="tempbox">

</div>

<br>

<div class="ftwhead">
	<p id="ftwheadtext">Free FTW:</p>
</div>

<div class="tempbox">

</div>

<br>


