<nav class="navbar navbar-full navbar-light" style="background-color: #E4491C; padding: 0px;">
  <p id="toptext">Surrender Now</p>
</nav>
<nav class="navbar navbar-full navbar-light" style="background-color: #002b52">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <%= link_to "Surrender Cobra", root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "Contact Us", about_path %></li> 
    </ul>
  </div><!-- /.navbar-collapse -->
</nav> 